<div class="slide-out-nav">
		<ul class="mobile-nav">
      <li><a href="">Home</a></li>
			<li><a href="">Profile</a></li>
			<li><a href="">Settings</a></li>
			<li><a href="">Logout</a></li>
		</ul>
		<div class="mobile-nav-slice"></div>
	</div>
	<div class="mobile-nav-toggle">
		<span></span>
		<span></span>
		<span></span>
	</div>
