<div class="slide-out-nav">
		<ul class="mobile-nav">
      <li><a href="/userhome">Home</a></li>
			<li><a href="/user-profile/<%= currentUser.member_id %>">Profile</a></li>
			<li><a href="">Settings</a></li>
			<li><a href="/logout">Logout</a></li>
		</ul>
		<div class="mobile-nav-slice"></div>
	</div>
	<div class="mobile-nav-toggle">
		<span></span>
		<span></span>
		<span></span>
	</div>
