<% include ./partials/header %>
<body>
<% include ./partials/alerts %>
<section class = "landing">
    <div class="landing--background-image" style="background-image: url(/images/landing002.jpg);"></div>
    <h1 class = "landing--title"><a class = "landing--title-link"href="/">linkU.Me</a></h1>

		<form action="/forgot" method="POST">
			<div class="">
				<input type="email" name="email" placeholder="email" autofocus class="form-input">
			</div>

			<div class="landing--btn-block">
				<input type="submit" class="landing--btn" value="Reset Password">
			</div>
		</form>

</section>
<body>
