<% include ./partials/header %>
<body>
  <% include ./partials/alerts %>

  <section class="landing">
    <div class="landing--background-image" style="background-image: url(images/landing002.jpg);"></div>
    <div class="landing--content-area">
      <h1 class = "landing--title">linkU.Me!</h1>
      <h3 class = "landing--caption">share your social media links.<br>stay up to date with your contacts social media links.</h3>
        <% if(!currentUser){ %>
            <div class="landing--subtitle">
              <h2 class = "landing--subtitle">Get Started Now!  It's free!</h2>
              <a href="/register" class="landing--btn">Sign Up</a>
            </div>
            <div class="landing--subtitle">
              <h2 class = "landing--subtitle">Already have an account?</h2>
              <a href="/login" class="landing--btn">Login</a>
            

            </div>
        <% }else{ %>
            <div class = "landing--subtitle">
              <h4>Hello, <%= currentUser.username %>!</h4>
            </div>
             <div class="landing--subtitle">
               <a href="/userhome" class="landing--btn"> Home </a>
             </div>
             <div class="landing--subtitle">
               <a href="/logout" class="landing--btn">Log out</a>
             </div>
        <% } %>
    </div>
  </section>

</body>
</html>
