<% include ./partials/header %>
<body>
<% include ./partials/alerts %>
<section class = "landing">
    <div class="landing--background-image" style="background-image: url(images/landing002.jpg);"></div>
    <h1 class = "landing--title"><a class = "landing--title-link"href="/">linkU.Me</a></h1>
    <form action="/login" method="post">
      <div class="">
        <input class="form-input" type="text" name="username" placeholder="username" required autofocus>
      </div>
      <div class="">
        <input class="form-input" type="password" name="password" placeholder="password" required>
      </div>
      <div class="landing--btn-block">
        <button class="landing--btn">Login</button>
      </div>
    </form>

</section>
<% include ./partials/footer %>
