<% include ./partials/header %>
<body class = "mobile-shift">

  <header>
    <% include ./partials/navbar %>
    <% include ./partials/slide-out-nav %>
  </header>
  <section class = "settings">
    <h1>Settings</h1>

  </section>
  </body>
