.btn {
  background-color: $mainBlue;
  color: #FFF;
  text-decoration: none;
  padding: .2rem .8rem;
  display: inline-block;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  opacity: .75;

  &:hover{
    opacity: .9;
  }

  &--orange{
    background-color: $mainOrange;
  }

  &--red{
    background-color: $danger;
  }

  &--sm{
    font-size: .75rem;
  }

  &--chat{
    margin-left: 10px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: .12rem;
    margin-bottom: 10px;
  }

  &--large{
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 0.75;
    padding: 10px 16px;
    border-radius: 16px;
    border: none;
  }

  &--block{
    margin-top: 5px;
    margin-bottom: 5px;
  }
  &--spaced{
    margin-top: 5px;
    margin-bottom: 5px;
  }

}
