.contacts {

  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: space-around;
  margin-left: 20px;
  margin-right:20px;

  @mixin atMedium{
    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-around;

  }
}

.contacts-list {
  margin-bottom: 20px;
}


.requests-list {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  flex-wrap: nowrap;
}

.contact-name{
  font-size: 1.2rem;
  opacity: .8;
  color: green;
}

.contact-location{
  font-size: .8rem;
  opacity: .6;
}
