
.form-input {
  width: 18rem;
  height: 2rem;
  border: none;
  border-radius: 6px;
  outline: none;
  margin-bottom: 5px;
  margin-left: 8px;
  margin-top: 5px;
  opacity: .5;
  font-size: 1.8rem;
}

.form-label {
  opacity: .7;
  font-size: 1.8rem;
}

.form-group{

}
