.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  color: #2f2f2f;

  &--btn {
    text-decoration: none;
    opacity: 0.75;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    background-color: #3f51b5;
    opacity: 0.75;
    padding: 10px 16px;
    border-radius: 16px;
    border: none;

    @mixin atMedium{
      font-size: 1.5rem;
    }
  }

  &--btn:hover {
    opacity: 1;
  }

  &--background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #80a3db;
    opacity: .75;
  }

  &--title {
    font: bold 4rem sans-serif;
    margin-bottom: 20px;
    color: #4db584;

    @mixin atMedium{
        font: bold 8rem sans-serif;
        color: #4db584;
    }
  }

  &--title-link {
    text-decoration: none;
    color: #4db584;

    &:hover{
      opacity: 0.9;
    }
  }

  &--subtitle {
    font: bold 1.2rem sans-serif;
    margin-bottom: 30px;
    color: #2f2f2f;

    @mixin atMedium{
      font: bold 1.4rem sans-serif;
      color: #2f2f2f;
    }
  }

  &--caption {
    font: bold 1.2rem sans-serif;
    margin-bottom: 40px;
    color: #2f2f2f;

    @mixin atMedium{
      font: bold 2.2rem sans-serif;
      color: #2f2f2f;
    }
  }

  &--content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1s slidefade 1s forwards;
  }

  &--btn-block{
    margin-top: 15px;
  }

}


@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}
