nav {
  display: block;
}

a{
  text-decoration: none;
}

.navbar {
  display: none;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120px;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.fixed-navbar.nav-fix {
  background-color: rgba(0, 160, 192, 0.85);
  height: 80px;
}

.fixed-navbar.nav-open {
  left: -180px;
}

@media (max-width: 1024px) {
  .fixed-navbar {
    height: 80px;
  }
}

.navbar-lockup {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 30px;
  line-height: 80px;
  transition: all .2s ease-in-out;
}

.navbar-lockup.nav-fix {
  line-height: 80px;
}

.navbar-lockup .logo {
  float: left;
}

.navbar-lockup .logo-text {
  font-size: 2rem;
  color: blue;
  opacity: .9;
}

.navbar-lockup .logo-text a{
  font-size: 2rem;
  color: blue;
  opacity: .9;
}

.navbar-lockup .logo img {
  width: 100px;
}

.navbar-lockup .nav {
  float: right;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.navbar-lockup .nav li {
  display: inline-block;
  margin-right: 65px;
}

.navbar-lockup .nav li:last-child {
  margin-right: 0;
}

.navbar-lockup .nav li a {
  color: blue;
  opacity: .9;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: color .2s ease-in-out;


}

.navbar-lockup .nav li a:hover {
  /*color: #c8e474;*/
  opacity: .5;
  text-decoration: none;
}

.slide-out-nav {
  position: fixed;
  top: 0;
  right: -180px;
  bottom: 0;
  width: 180px;
  background-color: rgba(0, 160, 192, 0.85);
  overflow: hidden;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.slide-out-nav.nav-open {
  right: 0;
}

.slide-out-nav .mobile-nav {
  margin: 50px 20px 0 0;
  padding-left: 0;
  text-align: right;
  list-style: none;
}

.slide-out-nav .mobile-nav li {
  margin-bottom: 15px;
}

.slide-out-nav .mobile-nav li a {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: .8px;
  transition: color .2s ease-in-out;
}

.slide-out-nav .mobile-nav li a:hover {
  color: #c8e474;
  text-decoration: none;
}


 .mobile-nav-slice {
   z-index: -1;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  width: 100%;
  height: 125%;
  background-color: #fff;
  opacity: .05;
}

.mobile-nav-toggle {

  display: none;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  z-index: 11;
  transition: all .2s ease-in-out;
}

.mobile-nav-toggle.nav-open {
  right: 210px;
}

.mobile-nav-toggle span {
  display: block;
  width: 100%;
  height: 2px;
  margin-bottom: 8px;
  background-color: blue;
  opacity: .9;
}

@media (max-width: 1024px) {
  .navbar-lockup .logo {
    line-height: 80px;
  }
  .navbar-lockup .nav {
    display: none;
  }
  .mobile-nav-toggle {
    display: block;
  }
}

.mobile-shift {
  position: relative;
  left: 0;
  transition: left .2s ease-in-out;
}

.mobile-shift.nav-open {
  left: -180px;
}
